<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6"> <![endif]-->
<!--[if IE 7 ]><html class="ie7"> <![endif]-->
<!--[if IE 8 ]><html class="ie8"> <![endif]-->
<!--[if IE 9 ]><html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
	<head>
		<title>ATC-rubrik</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="ATC-rubriker">
		<meta name="author" content="Läkemedelsverket">
		
		<link rel="stylesheet" href="/css/<%=version%>/styles.min.css">
		<!--[if lt IE 9]><script src="/js/<%=version%>/html5shiv.min.js"></script><![endif]-->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
		<noscript>
			<link rel="stylesheet" type="text/css" href="/css/<%=version%>/noscript.min.css">
		</noscript>
	</head>

	<body>
		<div class="container" id="content">
			<div class="row">
				<div id="sideContainer" class="span12">
					<div id="searchContainer" class="navbar">
						<div class="navbar-inner" style="text-align: center;">
							<a class="brand" href="/">Läkemedelsboken 2014</a>
							<form id="searchForm" class="form-search" action="/search" method="get">
								<div class="input-append">
									<input type="text" value="" class="search-query span4" style="padding-left: 15px; padding-right: 2px;" placeholder="Sök" name="search" id="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" title="Sökruta (s)">
									<input type="submit" class="btn btn-primary" value="Sök">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div style="clear: both;">
				<div id="mainContainer" class="span12">
					<div id="main">
						<%

						function getIcon (type) {
							var icons = {
								header: "icon-bookmark-empty",
								infoTable: "icon-th-large",
								facts: "icon-th-list",
								therapyRecommendations: "icon-info-sign",
								figure: "icon-bar-chart",
								atc: "icon-plus-sign-alt",
								product: "icon-info-sign"
							}
							if (icons[type] !== undefined) {
								return icons[type];
							} else {
								return icons["header"];
							}
						}
						
						%>
						<h2 style="text-align: center;">ATC-Rubriker</h2>
							<%
							for (var i = 0; i < atc.length; i++) {
								var code = atc[i];
								%>
							<div class="row">
								<div class="span6 offset3">
									<h3><%=code.title%></h3>
									<h5><%-code.titlePath%></h5>
									<ul style="list-style-type: none; font-family: Helvetica; margin-left: 25px;">
									<%
									for (var j = 0; j < code.children.length; j++) {
										var child = code.children[j];
										if (child.type === "atc") {
											%>
											<li><span style="display: inline-block; margin-left: -25px; width: 25px; text-align: center;"><i class="icon <%=getIcon(child.type)%>"></i></span><a href="/atc/<%=child.id%>"><%=child.title%></a></li>
											<%
										} else {
											var disabled = "";
											if (child.noinfo === true) {
												disabled = " style='text-decoration:line-through;'";
											}
											%>
											<li<%=disabled%>><span style="display: inline-block; margin-left: -25px; width: 25px; text-align: center;"><i class="icon <%=getIcon(child.type)%>"></i></span><a href="/product/<%=child.id%>"><%=child.title%></a></li>
											<%
										}
									}
									%>
									</ul>
								</div>
							</div>
								<%
							}
							%>
					</div>
					<hr>
					<footer>
						<p>&copy; Läkemedelsverket</p>
					</footer>
				</div>
			</div>
		</div>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46072475-1', 'lakemedelsboken.se');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
