<% include header.ejs %>

<div class="container">

	<div class="row">
		<div class="span12">
			<h2>Kontroller</h2>


<% 
for (var i = 0; i < results.length; i++) { 
	var result = results[i];
%>
	<h4><a href="/<%=result.chapter%>" target="_blank"><%=result.chapter%></a></h4>
<% 
	if (!result.facts.result) {
		%>
		<div class="alert alert-error"><%=result.facts.description%></div>
		<%
	} else {
		%>
<!--		<div class="alert alert-success"><%=result.facts.description%></div> -->
		<%
	}

	if (!result.tables.result) {
		%>
		<div class="alert alert-error"><%=result.tables.description%></div>
		<%
	} else {
		%>
<!--		<div class="alert alert-success"><%=result.tables.description%></div> -->
		<%
	}

	if (!result.figures.result) {
		%>
		<div class="alert alert-error"><%=result.figures.description%></div>
		<%
	} else {
		%>
<!--		<div class="alert alert-success"><%=result.figures.description%></div> -->
		<%
	}

	if (!result.therapyRecommendations.result) {
		%>
		<div class="alert alert-error"><%=result.therapyRecommendations.description%></div>
		<%
	} else {
		%>
<!--		<div class="alert alert-success"><%=result.therapyRecommendations.description%></div> -->
		<%
	}
	if (result.links.length > 0) {
		%>
		<h5>Utgående länkar</h5>
		<%
		for	(var j = 0; j < result.links.length; j++) {
			var link = result.links[j];
			var redMarking = "";
			if (link.href.indexOf(" ") > -1) {
				redMarking = " background-color: red;"
			}
			%>
			<div class="row" style="padding-bottom: 5px; padding-top: 5px; border-bottom: solid 1px #cecece;<%=redMarking%>">
				<div class="span4" style="text-align: right; white-space: nowrap;">"<%=link.text%>"</div>
				<div class="span8" style="text-align: left; white-space: nowrap;"><a href="<%=link.href%>" target="_blank">"<%=link.href%>"</a></div>
			</div>
			<%
		}
	}
		
	%>
	<hr>
	<%
}
%>
	
		</div>
	</div>

</div>

<div class="container">
	<hr>
	<footer>
		<p>Läkemedelsboken</p>
	</footer>
</div>
<script>
</script>

<% include footer.ejs %>
