<% include header.ejs %>

<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Förstasida</h1>

			<a class="btn" href="frontpage/generate"><i class="icon-ok-circle"></i> Generera ny förstasida</a>

			<div>
				<h2>Ladda upp ny bild</h2>
				<form action="uploadimage" method="post" enctype="multipart/form-data">
					<h4>Bild i png-format, gärna hög upplösning</h4>

					<input type="file" name="image" class="imageFile" />

					<button id="submitImage" class="btn btn-primary" data-loading-text="Laddar upp..." autocomplete="off"><i class="icon-ok icon-white"></i> Ladda upp bild</button>
				</form>


				<h3>Tillgängliga bilder:</h3>

				<div id="images">
					<% for (var image in images) { %>
					<div style="clear: both; padding: 10px;" class="well">
						<img style="float: right; max-width: 100px; max-height: 150px;" src="/img/static/<%=image.replace(".png", "_images")%>/opt/<%=image.replace(".png", "_small.png")%>">
						<textarea style="width: 30%; height: 190px; float:right;"><%=images[image].html%></textarea>
						<i class="icon-picture"></i> <strong><%=image%></strong><br>
						<% for (var subImage in images[image].images) { %>
							<div style="padding-left: 20px;">
								<a href="<%=images[image].images[subImage]%>"><%=images[image].images[subImage]%></a><br>
							</div>
						<% } %>

						<div style="clear: both;"></div>
					</div>
					<% } %>
				</div>
				
			</div>
			<h2>Nuvarande förstasida</h2>
			<iframe src="/" style="width: 320px; height: 480px;"></iframe>
			<iframe src="/" style="width: 480px; height: 320px;"></iframe>
			<br>
			<iframe src="/" style="width: 320px; height: 568px;"></iframe>
			<iframe src="/" style="width: 568px; height: 320px;"></iframe>
			<br>
			<iframe src="/" style="width: 768px; height: 1024px;"></iframe>
			<iframe src="/" style="width: 1024px; height: 768px;"></iframe>
			<br>
			<iframe src="/" style="width: 1200px; height: 700px;"></iframe>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<footer>
		<p>Läkemedelsboken</p>
	</footer>
</div>

<script>

$("#submitImage").on("click", function(event) {
//	$(this).button('loading');
	$(this).html("<i class=\"icon-refresh icon-white\"></i> Laddar upp...");
	$(this).addClass("disabled");
});

</script>

<% include footer.ejs %>