<% include header %>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<%
			if (id !== "/") {
				var backPath = id.split("/");
				var test = backPath.pop();
				
				if (test === "" && backPath.length > 0) {
					backPath.pop();
				}
				
				backPath = backPath.join("/");
				backPath = "/cms" + backPath;
				if (backPath === "") {
					backPath = "/"
				}
			%>
			<a href="<%=backPath%>" class="btn navbar-btn btn-primary"><i class="fa fa-chevron-left"></i> Tillbaka</a>
			<%					
			}
			%>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 col-md-4 sidebar">

			<%
			if (id && id.length > 1) {
			%>
			<ol class="breadcrumb">
				<li><a href="/cms/">Hem</a></li>
			<%
			
				var link = "/cms";
				var links = id.split("/");
				links.shift();
				for	(var i = 0; i < links.length; i++) {
					link += "/" + links[i];
					%>
					<li><a href="<%=link%>"><%=links[i]%></a></li>
					<%
				}
			
			%>
			</ol>
			<%
			}
			%>


			<ul class="nav nav-sidebar">
				<li class="dropdown-header">INNEHÅLL</li>
				
				<%
			for (var i = 0; i < processors.length; i++) {
				var item = processors[i];
				%>
				<li class="file"><a href="/cms<%=item.route%>"><i class="fa fa-tasks"></i> <%=item.name%></a></li>
				<%
			}
				%>

			</ul>
		</div>
		<div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 main">
			<h1 class="page-header">Processorer</h1>
		</div>
	</div>
</div>

<% include footer %>